extends ./_layout

block global
  -
    const _depth = 0
    const _title = _siteName
    const _asset = "../"
    const _html = ""
    const _parmalink = _siteHost

block contents
  main.Main
    .ObservedBox(data-inview)
      p ダミーテキスト
    .ObservedBox(data-inview)
      p ダミーテキスト
