-
  const depth = 2
  const title = `Tag1 - Blog | ${site}`
doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title= title
    meta(content="width=device-width", name="viewport")
    link(href="../../../style/main.scss", rel="stylesheet")
    script(src="../../../script/main.ts", type="module")

  body
    header.Header
      h1= title
      include ../../partial/nav

    main.Main
      p ここはそう…blogのTag1インデックスページ！

    footer.Footer
