extends ../_layout

block global
  -
    const _depth = 1
    const _title = `Blog | ${_siteName}`
    const _asset = "../../"
    const _html = "../"
    const _parmalink = `${_siteHost}/blog/`

block contents
  main.Main
    p ここはそう…blogのTag1インデックスページ！
